.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}
.show-grid [class*="span"] {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
}
.show-grid [class*="span"]:hover {
    background-color: #ddd;
}
.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
    margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
    background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
    background-color: #999;
}
